/* MENU HAMBURGUER CELULAR */

.cabecalho {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--cor-background); /*Deixar esse em transparente do media*/
}

.cabecalho__menu {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 5%;
    padding: 2%;
}

.cabecalho__menu__link {
    font-family: var(--fonte--primaria);
    font-size: 1.875rem;
    font-weight: 600;
    background-image: var(--cor--primaria);
    background-clip: text;
    color: transparent;
    display: inline-block;
}

.cabecalho__menu__link:hover {
    background-image: var(--cor--hover);
}

/* RESPONSIVIDADE - TABLETS */
@media (min-width: 768px) and (max-width: 1700px) {
    .cabecalho__menu__link {
        font-size: 1rem;
    }
}

/* RESPONSIVIDADE - CELULAR */
@media (max-width: 800px){
    /* MENU LATERAL DO CELULAR - APAGA O CABEÇALHO COM NOMES E ADICIONA O MENU HAMBURUER */
    .cabecalho {
        background-color: transparent;
    }
    .cabecalho__menu {
        display: none; /*Tira o menu do cabeçalho para adicionar o menu lateral*/
    }
    .cabecalho__celular{
        display: flex;
        justify-content: flex-end;
        padding: 4% 4% 0 0;
    }
    .cabecalho__menu__celular{
        width: 24px;
        height: 24px;
        display: inline-block;
        background-image: url("../assets/list.svg");
    }
}