/* MENU HAMBURGUER CELULAR */

.cabecalho {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--cor-background); /*Deixar esse em transparente do media*/
}

.cabecalho__menu {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 5%;
    padding: 2%;
}

.cabecalho__menu__link {
    font-family: var(--fonte--primaria);
    font-size: 1.875rem;
    font-weight: 600;
    background-image: var(--cor--primaria);
    background-clip: text;
    color: transparent;
    display: inline-block;
}

.cabecalho__menu__link:hover {
    background-image: var(--cor--hover);
}

.cabecalho__botao{
    display: none;
}
.lista-menu { /* FUNÇÃO DO MENU CELULAR */
    display: none;
    padding: 6% 0 0 0;
}
.imagem__lista {
    display: none;
}

/* RESPONSIVIDADE - TABLETS */
@media (min-width: 768px) and (max-width: 1700px) {
    .cabecalho__menu__link {
        font-size: 1.3rem;
    }
}

/* RESPONSIVIDADE - CELULAR */
@media (max-width: 800px){
    /* MENU LATERAL DO CELULAR - APAGA O CABEÇALHO COM NOMES E ADICIONA O MENU HAMBURUER */
    .cabecalho {
        background-color: transparent;
    }
    .cabecalho__menu { /* FUNÇÃO DO MENU CELULAR */
        display: none; /*Tira o menu do cabeçalho para adicionar o menu lateral*/
    }
    .cabecalho__menu__link {
        font-size: 1.2rem;
        padding: 1.3em;
    }
    .cabecalho__celular{
        display: flex;
        opacity: 90%;
    }
    .imagem__lista{ 
        width: 26px;
        height: 26px;
        display: flex;
        position: absolute;
        margin: 5%;
    }
    .cabecalho__botao:checked~.lista-menu { /* FUNÇÃO DO MENU CELULAR */
        display: flex;
        flex-direction: column;
        background-image: var(--cor--menu-hamburguer);
        padding: 10%;
        text-align: center;
    }
}